#postgreSQL
spring.datasource.url=jdbc:postgresql://localhost:5432/ProfileCreatorDb?createDatabaseIfNotExist=true
spring.datasource.username=
spring.datasource.password=
spring.jpa.hibernate.ddl-auto=update

#custom properties
token.secret=secret
token.exp=100000